<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-3 p-5 ">
            <div class="col-8 pl-5">
                <h2 class="text-black-50"><strong>First Heading Will</strong>  Catch Your Eye</h2>
                <h5 class="font-weight-light">Nunc sagittis neque vel elit cursus aliquam sed vitae massa. Proin sagittis, nulla ornare finibus cursus, purus felis sagittis diam, vel volutpat turpis sem at sapien. Aenean nec nulla et erat vulputate facilisis eget nec dolor.</h5>
                
            </div>
            <div class="col-4 pr-2"> 
                <img src="https://theheizenbergeffect.files.wordpress.com/2012/09/walter_white_breaking_bad-stanley-chow.jpg" class="img-fluid rounded-circle" alt="Responsive image" style="width: 300px; height: 300px; object-fit: cover;">


            </div>

        </div>
    </div>
</body>
</html>